# Firebase Web Client Credentials
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCvMLTSz1a0aCo2OxYVHTPWxyqX1aRYGAE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nsomatrix-core.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nsomatrix-core
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nsomatrix-core.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=380981948049
NEXT_PUBLIC_FIREBASE_APP_ID=1:380981948049:web:d0c4aa06c09d2e470dd930
